<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Latest</string>
	<string>Flower</string>
	<string>Polygon</string>
	<string>Blur1</string>
	<string>Cute</string>
	<string>Pattern</string>
</array>
</plist>
