<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>117, 117, 117
</string>
	<string>97, 97, 97
</string>
	<string>117, 117, 117
</string>
	<string>66, 66, 66
</string>
	<string>33, 33, 33
</string>
	<string>229, 57, 53
</string>
	<string>117, 117, 117
</string>
	<string>211, 47, 47
</string>
	<string>117, 117, 117
</string>
	<string>198, 40, 40
</string>
	<string>117, 117, 117
</string>
	<string>183, 28, 28
</string>
	<string>216, 27, 96
</string>
	<string>194, 24, 91
</string>
	<string>173, 20, 87
</string>
	<string>136, 14, 79
</string>
	<string>142, 36, 170
</string>
	<string>123, 31, 162
</string>
	<string>106, 27, 154
</string>
	<string>74, 20, 140
</string>
	<string>94, 53, 177
</string>
	<string>81, 45, 168
</string>
	<string>69, 39, 160
</string>
	<string>49, 27, 146
</string>
	<string>57, 73, 171
</string>
	<string>48, 63, 159
</string>
	<string>40, 53, 147
</string>
	<string>26, 35, 126
</string>
	<string>30, 136, 229
</string>
	<string>25, 118, 210
</string>
	<string>21, 101, 192
</string>
	<string>13, 71, 161
</string>
	<string>3, 155, 229
</string>
	<string>2, 136, 209
</string>
	<string>2, 119, 189
</string>
	<string>57, 73, 171
</string>
	<string>1, 87, 155
</string>
	<string>0, 172, 193
</string>
	<string>1, 87, 155
</string>
	<string>0, 151, 167
</string>
	<string>1, 87, 155
</string>
	<string>0, 131, 143
</string>
	<string>0, 96, 100
</string>
	<string>0, 137, 123
</string>
	<string>0, 121, 107
</string>
	<string>0, 105, 92
</string>
	<string>0, 77, 64
</string>
	<string>67, 160, 71
</string>
	<string>56, 142, 60
</string>
	<string>46, 125, 50
</string>
	<string>27, 94, 32
</string>
	<string>124, 179, 66
</string>
	<string>27, 94, 32
</string>
	<string>104, 159, 56
</string>
	<string>85, 139, 47
</string>
	<string>51, 105, 30
</string>
	<string>192, 202, 51
</string>
	<string>175, 180, 43
</string>
	<string>158, 157, 36
</string>
	<string>130, 119, 23
</string>
	<string>253, 216, 53
</string>
	<string>251, 192, 45
</string>
	<string>249, 168, 37
</string>
	<string>245, 127, 23
</string>
	<string>255, 179, 0
</string>
	<string>255, 160, 0
</string>
	<string>255, 143, 0
</string>
	<string>255, 111, 0
</string>
	<string>251, 140, 0
</string>
	<string>245, 124, 0
</string>
	<string>239, 108, 0
</string>
	<string>239, 108, 0
</string>
	<string>230, 81, 0
</string>
	<string>244, 81, 30
</string>
	<string>230, 74, 25
</string>
	<string>216, 67, 21
</string>
	<string>191, 54, 12
</string>
	<string>216, 67, 21
</string>
	<string>84, 110, 122
</string>
	<string>69, 90, 100
</string>
	<string>55, 71, 79
</string>
	<string>38, 50, 56
</string>
	<string>109, 76, 65
</string>
	<string>38, 50, 56
</string>
	<string>93, 64, 55
</string>
	<string>78, 52, 46
</string>
	<string>62, 39, 35
</string>
</array>
</plist>
