<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>group-icon</key>
		<string>group-icon-0</string>
		<key>group-name</key>
		<string>Old Days</string>
		<key>isFree</key>
		<true/>
		<key>items</key>
		<array>
			<dict>
				<key>ImageName</key>
				<string>filter_no</string>
				<key>filter</key>
				<string>-</string>
				<key>name</key>
				<string>Orignial</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_40</string>
				<key>filter</key>
				<string>CIVignette</string>
				<key>inputIntensity</key>
				<string>3</string>
				<key>inputRadius</key>
				<string>2</string>
				<key>name</key>
				<string>Instant
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_50</string>
				<key>color</key>
				<string>255,255,98</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.3</string>
				<key>name</key>
				<string>Camp Fire
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_49</string>
				<key>color</key>
				<string>200,232,255</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Mono
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_95</string>
				<key>color</key>
				<string>240,255,100</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.6</string>
				<key>name</key>
				<string>Restro
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_100</string>
				<key>color</key>
				<string>160,156,180</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.8</string>
				<key>name</key>
				<string>Cinerama
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_103</string>
				<key>color</key>
				<string>207,235,230</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Exposure
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_13</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.3</string>
				<key>name</key>
				<string>Candy
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_107</string>
				<key>color</key>
				<string>226,255,170</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.2</string>
				<key>name</key>
				<string>Gamma
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_80</string>
				<key>color</key>
				<string>240,240,230</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.1</string>
				<key>name</key>
				<string>Dallas
</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group-icon</key>
		<string>group-icon-2</string>
		<key>group-name</key>
		<string>ColorFul</string>
		<key>isFree</key>
		<true/>
		<key>items</key>
		<array>
			<dict>
				<key>ImageName</key>
				<string>filter_no</string>
				<key>filter</key>
				<string>-</string>
				<key>name</key>
				<string>Orignial</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_55</string>
				<key>color</key>
				<string>255,166,180</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Souvenir
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_23</string>
				<key>filter</key>
				<string>CIHueAdjust</string>
				<key>inputAngle</key>
				<string>-3.10</string>
				<key>name</key>
				<string>Vibrance
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_24</string>
				<key>filter</key>
				<string>CIHueAdjust</string>
				<key>inputAngle</key>
				<string>-2.10</string>
				<key>name</key>
				<string>Manhattan
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_25</string>
				<key>filter</key>
				<string>CIHueAdjust</string>
				<key>inputAngle</key>
				<string>-1.0</string>
				<key>name</key>
				<string>Intensity
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_30</string>
				<key>filter</key>
				<string>CIHueAdjust</string>
				<key>inputAngle</key>
				<string>1.2</string>
				<key>name</key>
				<string>Breeze
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_34</string>
				<key>filter</key>
				<string>CIHueAdjust</string>
				<key>inputAngle</key>
				<string>1.14</string>
				<key>name</key>
				<string>Breeze
Breeze</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_33</string>
				<key>filter</key>
				<string>CIHueAdjust</string>
				<key>inputAngle</key>
				<string>2.5</string>
				<key>name</key>
				<string>Fixie
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_64</string>
				<key>color</key>
				<string>255,245,230</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.7</string>
				<key>name</key>
				<string>Iceland
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_112</string>
				<key>color</key>
				<string>255,186,140</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.7</string>
				<key>name</key>
				<string>Timber</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_4</string>
				<key>filter</key>
				<string>CIPhotoEffectFade</string>
				<key>name</key>
				<string>Dodger
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_58</string>
				<key>color</key>
				<string>195,255,220</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.7</string>
				<key>name</key>
				<string>Flodia
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_78</string>
				<key>color</key>
				<string>223,166,187</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Horine
</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group-icon</key>
		<string>group-icon-1</string>
		<key>group-name</key>
		<string>BlackWhite</string>
		<key>isFree</key>
		<true/>
		<key>items</key>
		<array>
			<dict>
				<key>ImageName</key>
				<string>filter_no</string>
				<key>filter</key>
				<string>-</string>
				<key>name</key>
				<string>Orignial</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_1</string>
				<key>filter</key>
				<string>CIMaximumComponent</string>
				<key>name</key>
				<string>Fade</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_6</string>
				<key>filter</key>
				<string>CIPhotoEffectMono</string>
				<key>name</key>
				<string>Mono</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_9</string>
				<key>filter</key>
				<string>CIPhotoEffectTonal</string>
				<key>name</key>
				<string>Chrome</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_91</string>
				<key>color</key>
				<string>180,180,180</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.4</string>
				<key>name</key>
				<string>Equinox
</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group-icon</key>
		<string>group-icon-3</string>
		<key>group-name</key>
		<string>Vintage</string>
		<key>isFree</key>
		<true/>
		<key>items</key>
		<array>
			<dict>
				<key>ImageName</key>
				<string>filter_no</string>
				<key>filter</key>
				<string>-</string>
				<key>name</key>
				<string>Orignial</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_0</string>
				<key>filter</key>
				<string>CIFalseColor</string>
				<key>name</key>
				<string>False Color
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_8</string>
				<key>filter</key>
				<string>CIPhotoEffectProcess</string>
				<key>name</key>
				<string>Chrome
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_17</string>
				<key>filter</key>
				<string>CISepiaTone</string>
				<key>inputIntensity</key>
				<string>1.0</string>
				<key>name</key>
				<string>Fade
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_85</string>
				<key>color</key>
				<string>244,255,204</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.7</string>
				<key>name</key>
				<string>Drama
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_14</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>1.0</string>
				<key>name</key>
				<string>Mellow
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_44</string>
				<key>filter</key>
				<string>CIUnsharpMask</string>
				<key>inputIntensity</key>
				<string>1</string>
				<key>inputRadius</key>
				<string>50</string>
				<key>name</key>
				<string>Stag
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_45</string>
				<key>filter</key>
				<string>CIUnsharpMask</string>
				<key>inputIntensity</key>
				<string>1</string>
				<key>inputRadius</key>
				<string>100</string>
				<key>name</key>
				<string>Valley
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_48</string>
				<key>color</key>
				<string>156,232,255</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Long Horn
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_27</string>
				<key>filter</key>
				<string>CIHueAdjust</string>
				<key>inputAngle</key>
				<string>-0.3</string>
				<key>name</key>
				<string>Modern
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_29</string>
				<key>filter</key>
				<string>CIHueAdjust</string>
				<key>inputAngle</key>
				<string>0.5</string>
				<key>name</key>
				<string>Berlin
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_67</string>
				<key>color</key>
				<string>255,25,29</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.7</string>
				<key>name</key>
				<string>Sierra
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_73</string>
				<key>color</key>
				<string>189,255,168</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.7</string>
				<key>name</key>
				<string>Aden
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_86</string>
				<key>color</key>
				<string>255,183,172</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.3</string>
				<key>name</key>
				<string>Nico
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_102</string>
				<key>color</key>
				<string>207,235,255</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Drift
</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group-icon</key>
		<string>group-icon-4</string>
		<key>group-name</key>
		<string>Nice</string>
		<key>isFree</key>
		<true/>
		<key>items</key>
		<array>
			<dict>
				<key>ImageName</key>
				<string>filter_no</string>
				<key>filter</key>
				<string>-</string>
				<key>name</key>
				<string>Orignial</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_43</string>
				<key>filter</key>
				<string>CIUnsharpMask</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>inputRadius</key>
				<string>50</string>
				<key>name</key>
				<string>Neruda
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_51</string>
				<key>color</key>
				<string>255,245,98</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Hampstead
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_53</string>
				<key>color</key>
				<string>255,166,107</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.3</string>
				<key>name</key>
				<string>Foliage
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_57</string>
				<key>color</key>
				<string>195,255,32</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Cirque
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_61</string>
				<key>color</key>
				<string>124,255,239</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.7</string>
				<key>name</key>
				<string>Bounty
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_62</string>
				<key>color</key>
				<string>40,57,255</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.3</string>
				<key>name</key>
				<string>Around
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_66</string>
				<key>color</key>
				<string>255,25,29</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Reyes
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_68</string>
				<key>color</key>
				<string>156,193,255</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.3</string>
				<key>name</key>
				<string>Hefe
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_72</string>
				<key>color</key>
				<string>189,255,168</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Amaro
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_74</string>
				<key>color</key>
				<string>255,133,153</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.3</string>
				<key>name</key>
				<string>Crema
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_77</string>
				<key>color</key>
				<string>223,166,255</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.3</string>
				<key>name</key>
				<string>Leila
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_81</string>
				<key>color</key>
				<string>183,240,255</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Dreamy
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_84</string>
				<key>color</key>
				<string>244,255,204</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Curious
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_90</string>
				<key>color</key>
				<string>255,253,253</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Hedge
</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group-icon</key>
		<string>group-icon-5</string>
		<key>group-name</key>
		<string>New</string>
		<key>isFree</key>
		<true/>
		<key>items</key>
		<array>
			<dict>
				<key>ImageName</key>
				<string>filter_no</string>
				<key>filter</key>
				<string>-</string>
				<key>name</key>
				<string>Orignial</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_5</string>
				<key>filter</key>
				<string>CIPhotoEffectInstant</string>
				<key>name</key>
				<string>Min
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_49</string>
				<key>color</key>
				<string>130,145,250</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.7</string>
				<key>name</key>
				<string>Mono
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_70</string>
				<key>color</key>
				<string>220,220,220</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.7</string>
				<key>name</key>
				<string>Old Paper
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_10</string>
				<key>filter</key>
				<string>CIPhotoEffectTransfer</string>
				<key>name</key>
				<string>Spearmint
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_11</string>
				<key>filter</key>
				<string>CILinearToSRGBToneCurve</string>
				<key>name</key>
				<string>Hollywood
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_28</string>
				<key>filter</key>
				<string>CIHueAdjust</string>
				<key>inputAngle</key>
				<string>0.3</string>
				<key>name</key>
				<string>Bronze
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_47</string>
				<key>color</key>
				<string>145,150,167</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.3</string>
				<key>name</key>
				<string>Lake
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_52</string>
				<key>color</key>
				<string>120,178,222</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.7</string>
				<key>name</key>
				<string>Glen
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_54</string>
				<key>color</key>
				<string>255,166,107</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.8</string>
				<key>name</key>
				<string>Ether
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_60</string>
				<key>color</key>
				<string>220,220,100</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Milan
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_63</string>
				<key>color</key>
				<string>40,57,187</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Ascent
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_69</string>
				<key>color</key>
				<string>30,130,245</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Velencia
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_71</string>
				<key>color</key>
				<string>189,255,168</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.3</string>
				<key>name</key>
				<string>Madrid
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_76</string>
				<key>color</key>
				<string>255,133,153</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.7</string>
				<key>name</key>
				<string>Filmm
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_82</string>
				<key>color</key>
				<string>223,180,190</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.7</string>
				<key>name</key>
				<string>Schuda
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_79</string>
				<key>color</key>
				<string>170,180,223</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.7</string>
				<key>name</key>
				<string>Avelaze
</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group-icon</key>
		<string>group-icon-6</string>
		<key>group-name</key>
		<string>Scenary</string>
		<key>isFree</key>
		<true/>
		<key>items</key>
		<array>
			<dict>
				<key>ImageName</key>
				<string>filter_no</string>
				<key>filter</key>
				<string>-</string>
				<key>name</key>
				<string>Orignial</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_21</string>
				<key>filter</key>
				<string>CIGammaAdjust</string>
				<key>inputPower</key>
				<string>0.6</string>
				<key>name</key>
				<string>Old Pine
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_92</string>
				<key>color</key>
				<string>255,248,248</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.3</string>
				<key>name</key>
				<string>Bay
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_98</string>
				<key>color</key>
				<string>160,156,156</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.3</string>
				<key>name</key>
				<string>Thorn
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_101</string>
				<key>color</key>
				<string>207,235,255</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.3</string>
				<key>name</key>
				<string>Moon
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_104</string>
				<key>color</key>
				<string>210,255,252</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.3</string>
				<key>name</key>
				<string>Twilight
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_105</string>
				<key>color</key>
				<string>210,255,252</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Winter
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_106</string>
				<key>color</key>
				<string>210,255,252</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.7</string>
				<key>name</key>
				<string>Summer
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_108</string>
				<key>color</key>
				<string>226,255,196</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Clamon
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_109</string>
				<key>color</key>
				<string>226,255,196</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.7</string>
				<key>name</key>
				<string>Sunset
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_110</string>
				<key>color</key>
				<string>255,186,175</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.3</string>
				<key>name</key>
				<string>Warm
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_94</string>
				<key>color</key>
				<string>255,248,248</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.7</string>
				<key>name</key>
				<string>Sailor
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_31</string>
				<key>filter</key>
				<string>CIHueAdjust</string>
				<key>inputAngle</key>
				<string>1.5</string>
				<key>name</key>
				<string>Unsharp
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_36</string>
				<key>filter</key>
				<string>CIVibrance</string>
				<key>inputAmount</key>
				<string>1</string>
				<key>name</key>
				<string>Corner
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_65</string>
				<key>color</key>
				<string>255,25,29</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.3</string>
				<key>name</key>
				<string>Cobalt
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_87</string>
				<key>color</key>
				<string>255,183,172</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Magnolia
</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group-icon</key>
		<string>group-icon-7</string>
		<key>group-name</key>
		<string>Foriegn</string>
		<key>isFree</key>
		<true/>
		<key>items</key>
		<array>
			<dict>
				<key>ImageName</key>
				<string>filter_no</string>
				<key>filter</key>
				<string>-</string>
				<key>name</key>
				<string>Orignial</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_15</string>
				<key>filter</key>
				<string>CIColorPosterize</string>
				<key>inputLevels</key>
				<string>6.0</string>
				<key>name</key>
				<string>Americana
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_3</string>
				<key>filter</key>
				<string>CIPhotoEffectChrome</string>
				<key>name</key>
				<string>Min
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_59</string>
				<key>color</key>
				<string>180,180,180</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Posterize
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_12</string>
				<key>filter</key>
				<string>CISRGBToneCurveToLinear</string>
				<key>name</key>
				<string>Lucy
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_16</string>
				<key>filter</key>
				<string>CIColorPosterize</string>
				<key>inputLevels</key>
				<string>10.0</string>
				<key>name</key>
				<string>Alpine
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_18</string>
				<key>filter</key>
				<string>CISepiaTone</string>
				<key>inputIntensity</key>
				<string>0.1</string>
				<key>name</key>
				<string>Hulk
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_22</string>
				<key>filter</key>
				<string>CIGammaAdjust</string>
				<key>inputPower</key>
				<string>1.0</string>
				<key>name</key>
				<string>Olympia
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_26</string>
				<key>filter</key>
				<string>CIHueAdjust</string>
				<key>inputAngle</key>
				<string>-0.1</string>
				<key>name</key>
				<string>Vignette
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_35</string>
				<key>filter</key>
				<string>CIVibrance</string>
				<key>inputAmount</key>
				<string>-1</string>
				<key>name</key>
				<string>Cold Rain
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_42</string>
				<key>filter</key>
				<string>CIVignette</string>
				<key>inputIntensity</key>
				<string>1</string>
				<key>inputRadius</key>
				<string>1</string>
				<key>name</key>
				<string>Journey
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_75</string>
				<key>color</key>
				<string>133,133,133</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Souvenir</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_83</string>
				<key>color</key>
				<string>120,120,120</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.3</string>
				<key>name</key>
				<string>Souvenir</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_96</string>
				<key>color</key>
				<string>240,255,128</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.5</string>
				<key>name</key>
				<string>Reef
</string>
			</dict>
			<dict>
				<key>ImageName</key>
				<string>filter_97</string>
				<key>color</key>
				<string>240,255,128</string>
				<key>filter</key>
				<string>CIColorMonochrome</string>
				<key>inputIntensity</key>
				<string>0.7</string>
				<key>name</key>
				<string>Souvenir
</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
