<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>169,201,255</string>
		<string>255,287,236</string>
	</array>
	<array>
		<string>18, 194, 233	
</string>
		<string>196, 113, 237	
</string>
		<string>246, 79, 89</string>
	</array>
	<array>
		<string>198, 255, 221</string>
		<string>251, 215, 134	</string>
		<string>246, 79, 89</string>
	</array>
	<array>
		<string>255, 154, 158</string>
		<string>250, 208, 196</string>
	</array>
	<array>
		<string>255,236,210</string>
		<string>252, 182, 159	
</string>
	</array>
	<array>
		<string>255, 154, 158	</string>
		<string>254, 207, 239</string>
	</array>
	<array>
		<string>207, 217, 223	
</string>
		<string>226, 235, 240	</string>
	</array>
	<array>
		<string>253, 251, 251</string>
		<string>235, 237, 238</string>
	</array>
	<array>
		<string>245, 247, 250</string>
		<string>195, 207, 226</string>
	</array>
	<array>
		<string>102, 126, 234	
</string>
		<string>118, 75, 162	</string>
	</array>
	<array>
		<string>86, 171, 47</string>
		<string>168,224,99</string>
	</array>
	<array>
		<string>234,205,163</string>
		<string>214, 174, 123</string>
	</array>
	<array>
		<string>255,81,47</string>
		<string>221, 36, 118</string>
	</array>
	<array>
		<string>0, 65, 106	
</string>
		<string>228, 229, 230</string>
	</array>
	<array>
		<string>31,28,44</string>
		<string>146, 141, 171</string>
	</array>
	<array>
		<string>0, 242, 96</string>
		<string>5, 117, 230</string>
	</array>
	<array>
		<string>84, 74, 125</string>
		<string>255, 212, 82</string>
	</array>
	<array>
		<string>133,255,189</string>
		<string>255,251,125</string>
	</array>
	<array>
		<string>33, 147, 176</string>
		<string>109 ,213, 237</string>
	</array>
	<array>
		<string>55, 59, 68</string>
		<string>66, 134, 244</string>
	</array>
	<array>
		<string>17, 153, 142</string>
		<string>56, 239, 125</string>
	</array>
	<array>
		<string>188, 78, 156</string>
		<string>248, 7, 89</string>
	</array>
	<array>
		<string>249, 83, 198</string>
		<string>185, 29, 115</string>
	</array>
	<array>
		<string>142, 45, 226</string>
		<string>74, 0, 224</string>
	</array>
	<array>
		<string>161, 255, 206</string>
		<string>250, 255, 209</string>
	</array>
	<array>
		<string>178, 254, 250</string>
		<string>14, 210, 247</string>
	</array>
	<array>
		<string>120,120,120</string>
		<string>250, 255, 209</string>
	</array>
</array>
</plist>
