<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>33, 147, 176</string>
		<string>109 ,213, 237</string>
	</array>
	<array>
		<string>44, 62, 80</string>
		<string>189, 195, 199</string>
	</array>
	<array>
		<string>15, 32, 39</string>
		<string>32, 58, 67</string>
		<string>44, 83, 100</string>
	</array>
	<array>
		<string>55, 59, 68</string>
		<string>66, 134, 244</string>
	</array>
	<array>
		<string>41, 128, 185</string>
		<string>109, 213, 250</string>
		<string>255, 255, 255</string>
	</array>
	<array>
		<string>255, 0, 153</string>
		<string>73, 50, 64</string>
	</array>
	<array>
		<string>142, 45, 226</string>
		<string>74, 0, 224</string>
	</array>
	<array>
		<string>142, 45, 226</string>
		<string>74, 0, 224</string>
	</array>
	<array>
		<string>31, 64, 55</string>
		<string>153, 242, 200</string>
	</array>
	<array>
		<string>249, 83, 198</string>
		<string>185, 29, 115</string>
	</array>
	<array>
		<string>249, 83, 198</string>
		<string>185, 29, 115</string>
	</array>
	<array>
		<string>195, 20, 50</string>
		<string>36, 11, 54</string>
	</array>
	<array>
		<string>195, 20, 50</string>
		<string>36, 11, 54</string>
	</array>
	<array>
		<string>241, 39, 17</string>
		<string>245, 175, 25</string>
	</array>
	<array>
		<string>255, 65, 108</string>
		<string>255, 75, 43</string>
	</array>
	<array>
		<string>138, 35, 135</string>
		<string>233, 64, 87</string>
		<string>242, 113, 33</string>
	</array>
	<array>
		<string>0, 180, 219</string>
		<string>0, 131, 176</string>
	</array>
	<array>
		<string>78, 84, 200</string>
		<string>143, 148, 251</string>
	</array>
	<array>
		<string>188, 78, 156</string>
		<string>248, 7, 89</string>
	</array>
	<array>
		<string>17, 153, 142</string>
		<string>56, 239, 125</string>
	</array>
</array>
</plist>
