<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Add Image</string>
	<string>Opacity</string>
	<string>Brightness</string>
	<string>Saturation</string>
	<string>Contrast</string>
	<string>Sharpen</string>
</array>
</plist>
