<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<string>We cannot solve problems with the kind of thinking we employed when we came up with them.</string>
			<string>Learn as if you will live forever, live like you will die tomorrow.</string>
			<string>Stay away from those people who try to disparage your ambitions. Small minds will always do that, but great minds will give you a feeling that you can become great too</string>
			<string>When you change your thoughts, remember to also change your world.</string>
			<string>It’s hard to beat a person who never gives up.</string>
			<string>If people are doubting how far you can go, go so far that you can’t hear them anymore</string>
			<string>The secret of getting ahead is getting started.</string>
			<string>We need to accept that we won’t always make the right decisions, that we’ll screw up royally sometimes―understanding that failure is not the opposite of success, it’s part of success</string>
			<string>Only the paranoid survive</string>
			<string>If you can dream it, you can do it.
Read more at https://www.brainyquote.com/topics/motivational-quotes</string>
			<string>I&apos;d rather regret the things I&apos;ve done than regret the things I haven&apos;t done.</string>
			<string>The key to life is accepting challenges. Once someone stops doing this, he&apos;s dead.</string>
			<string>The secret of joy in work is contained in one word -- excellence. To know how to do something well is to enjoy it.</string>
		</array>
		<key>types</key>
		<string>Motivational</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<string>Be thankful for what you have; you&apos;ll end up having more. If you concentrate on what you don&apos;t have, you will never, ever have enough.</string>
			<string>As we express our gratitude, we must never forget that the highest appreciation is not to utter words but to live by them</string>
			<string>This is from my heart, to thank you for everything you have done for me, for all the times I forgot to tell you how I feel about you, and how happy I am that you are in my life. </string>
			<string>Thank you for every hug, word of encouragement, and loads of love you&apos;ve given me. I am blessed to have you in my life. </string>
			<string>When I started counting my blessings, my whole life turned around.</string>
			<string>When life is sweet, say thank you and celebrate. And when life is bitter, say thank you and grow.</string>
			<string>The unthankful heart discovers no mercies; but the thankful heart will find, in every hour, some heavenly blessings.</string>
			<string>Rest and be thankful.</string>
			<string>Thank you’ is the best prayer that anyone could say. I say that one a lot. Thank you expresses extreme gratitude, humility, understanding.</string>
			<string>Let us be grateful to people who make us happy; they are the charming gardeners who make our souls blossom.</string>
			<string>Let all your thinks be thanks.</string>
		</array>
		<key>types</key>
		<string>Thankful </string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<string>The only thing better than having you for parents is my children having you for grandparents.</string>
			<string>A father’s goodness is higher than the mountain. A mother’s goodness deeper than the sea</string>
			<string>At some point, you realize your parents are human. They make the best decisions they can with the options available to them.</string>
			<string>Tell me something so beautiful that life seems worth living. Parents love.</string>
			<string>A parent’s love is whole no matter how many times divided.</string>
			<string>It’s a funny thing about mothers and fathers. Even when their own child is the most disgusting little blister you could ever imagine, they still think that he or she is wonderful.</string>
			<string>It’s not only children who grow, parents do too.</string>
			<string>Tell me something so beautiful that life seems worth living. Parents love.</string>
			<string>We never know the love of a parent till we become parents ourselves.</string>
			<string>All that I am, or hope to be, I owe to my mother.</string>
			<string>If we are wonderful parents and family members, then there’s really nothing else to prove.</string>
		</array>
		<key>types</key>
		<string>Parents</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<string>Be thankful for what you have; you&apos;ll end up having more. If you concentrate on what you don&apos;t have, you will never, ever have enough.</string>
			<string>As we express our gratitude, we must never forget that the highest appreciation is not to utter words but to live by them</string>
			<string>This is from my heart, to thank you for everything you have done for me, for all the times I forgot to tell you how I feel about you, and how happy I am that you are in my life. </string>
			<string>Every day is a good day to be alive, whether the sun&apos;s shining or not.
Read more at https://www.brainyquote.com/topics/good-day-quotes</string>
			<string>I love the unknown, and any day that I get to experience someplace new is a good day.
Read more at https://www.brainyquote.com/topics/good-day-quotes</string>
		</array>
		<key>types</key>
		<string>Good Day</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<string>Loved you yesterday, love you still, always have, always will.</string>
			<string>Thinking of you keeps me awake. Dreaming of you keeps me asleep. Being with you keeps me alive.</string>
			<string>I need you like a heart needs a beat.</string>
			<string>If I know what love is, it is because of you.</string>
			<string>I need you like a heart needs a beat.</string>
			<string>if you live to be a hundred, I want to live to be a hundred minus one day so I never have to live without you.</string>
			<string>You make me want to be a better man.</string>
			<string>To love is to burn, to be on fire.</string>
			<string>In the end we discover that to love and let go can be the same thing.</string>
			<string>Love is a thing that is full of cares and fears.</string>
		</array>
		<key>types</key>
		<string>Love</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<string>Marriage is not just spiritual communion, it is also remembering to take out the trash</string>
			<string>The great marriages are partnerships. It can’t be a great marriage without being a partnership</string>
			<string>Husband and wife relationships are like the relationship of Tom and Jerry. Though they are teasing and fighting, but can’t live without each other.&apos;</string>
			<string>There is no such cozy combination as man and wife.</string>
		</array>
		<key>types</key>
		<string>Marriage</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<string>As the day turns into night, keep your worries out of sight. Close your eyes and go to sleep, for all the good times are yours to keep. Good night</string>
			<string>No matter how far you are, you are always in my thoughts. Good night</string>
			<string>Whatever you wish for, I wish for you too. May all your hopes, dreams and wishes come true! Sweet dreams.</string>
			<string>Always remember to fall asleep with a dream and wake up with a purpose. Good night.</string>
			<string>Good night. Before you go to sleep, think of all the things you enjoyed today and thank God for them.</string>
			<string>Good night, sleep tight, wake up bright. In the morning light, to do what&apos;s right, with all your might.</string>
			<string>The day will end on a positive note, read a cool good night quote. Because you will sleep so well that way, as you will wait for a bright new day. Good night!</string>
		</array>
		<key>types</key>
		<string>Good Night</string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<string>Luck is when an opportunity comes along and you’re prepared for it</string>
			<string>Nobody gets justice. People only get good luck or bad luck.</string>
			<string>I say luck is when an opportunity comes along and you&apos;re prepared for it</string>
			<string>Dreams can still come true; you need a great deal of energy and determination, and a little bit of luck.</string>
		</array>
		<key>types</key>
		<string>Luck</string>
	</dict>
</array>
</plist>
